@charset "utf-8";

body, td, th, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

main {
    display: block;
    order: 1;
    padding: 20px;
}

.titulo {
    display: block;
    width: 100%;
    font-weight: bold;
}

.contenido {
    line-height: 1.5;
}

.aviso-legal {
    display: block;
}

.aviso-legal .titulo {
    font-size: 14pt;
    border-bottom: 1px solid black;
}

.aviso-legal .contenido {
    line-height: 2;
}

.no-list,
.contenido > ul {
    list-style: none;
}

.circle-list {
    list-style-type: circle;
}

.parent-level-list {
    margin-left: -41px;
}